mat-toolbar {
  justify-content: space-between;
}

.profile-image-toolbar {
  border-radius: 100%;
}
.mat-toolbar{
    background: #000;
    display: flex;
    justify-content: center;
    width: 100%;
}
.sdd{
     background: transparent;
    border: 0;
}