.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
    text-decoration: none;
}
.g{
    margin-top: 10px; 
}
.login_s{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
mat-form-field{
    width: 100%;
}